%div
  =" => " + phone_number.phone_type_name
  -
  -if params[:action]=="show"
    =phone_number.full_number
  -else
    =link_to  phone_number.full_number, edit_phone_number_path(phone_number), :remote => true ,:title => 'Edit'
    = link_to "[X]", phone_number, :remote => true, :confirm => 'Are you sure?', :method => :delete