%h1
  Wellcome to Contact list
%br/
%br/
-@contacts.each do |contact|
  =contact.name
  %br/
%p
  The Best  way to manage your contact information, why facebook? , why hi-5, thats  boring,
  Lest try!!.


  

