%div
  %strong
    Address
  %br/
  =address.address
  %br/
  %strong
    Zip
  %br/
  =address.zip
  %br/
  %strong
    City
  %br/
  =address.city
  %br/
  %strong
    State
  %br/
  =address.state
  %br/
  %strong
    Country
  %br/
  =address.country
  %br/
  %strong
    Address Type
  %br/
  =address.address_type_name
  %br/
  -unless params[:action]=="show"
    = link_to  "Edit", edit_address_path(address), :remote => true ,:title => 'Edit', :id => "address_edit_#{address.id}"
    = link_to "[X]", address, :remote => true, :confirm => 'Are you sure?', :method => :delete, :id => "address_delete_#{address.id}"