%div
  %label
    Address
  %br/
  =address.address
  %br/
  %label
    Zip
  %br/
  =address.zip
  %br/
  %label
    City
  %br/
  =address.city
  %br/
  %label
    State
  %br/
  =address.state
  %br/
  %label
    Country
  %br/
  =address.city
  %br/
  %label
    Address Type
  %br/
  =address.address_type_name
  %br/
  -unless params[:action]=="show"
    = link_to  "Edit", edit_address_path(address), :remote => true ,:title => 'Edit'
    = link_to "[X]", address, :remote => true, :confirm => 'Are you sure?', :method => :delete