-title=link_to  list.name, edit_list_path(list), :remote => true ,:title => 'Edit'
-delete= link_to " - [X]", list, :remote => true, :confirm => 'Are you sure?', :method => :delete, :title => "Delete", :id => "delete_#{list.name}"
%br/
%div{:id => "#{list.id}", :class => "drop"}
  !=table_up(title+delete)
  %div{:id => "#{list.id}_inner"}
    Drag your contacts Here or
    %br/
    =link_to "Click here show the contacts in this list - #{list.name}",show_contacts_list_path(list), :remote => :true , :class => "drop_link"
  !=table_down