-form_tag (show_contacts_list_path(@list.id), :remote => true ,:id => 'search_gen', :method =>'get') do
    !=table_up("Search")
    =text_field_tag 'key_gen', ''
    =hidden_field_tag 'order_gen', ''
    =link_to "Clear","",:id=>"clear_search_gen"
    !=table_down